{% extends 'notas_app/base.html' %}

{% block content %}
<h2>Nueva Nota</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_titulo" class="form-label">Título</label>
        {{ form.titulo }}
    </div>
    <div class="mb-3">
        <label for="id_contenido" class="form-label">Contenido</label>
        {{ form.contenido }}
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="{% url 'lista_notas' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}